# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules
frontend/node_modules
node_modules

# Dist
frontend/dist
dist

# Env file
frontend/.env
frontend/.env.local
frontend/.env.*.local

.env
.env.local
.env.*.local

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
